{% extends 'base.html.twig' %}

{% block title %}Actualitées-CineMira{% endblock %}

{% block body %}
 <h1>🎬 LES FILMS</h1>
 <h2>Découvrez les dernières sorties et tendances cinématographiques</h2>

<div class="row">
  {% for movie in movies %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
             class="card-img-top" 
             alt="{{ movie.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview|slice(0, 100) ~ '...' }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
