/* ======== Corps de la page ======== */
body {
    background-image: radial-gradient(
        circle at 50.96% 44.55%,
        #96cdff 0,
        #469cf9 50%,
        #006ed4 100%
    );
    margin: 0;
    padding: 0;
}

/* ======== Footer ======== */
footer {
    background-color: #006ed4;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 200%;
}

/* Couleur au survol pour Facebook */
.social-link:hover .fa-facebook-f {
    color: #1877f2 !important;
}

/* Couleur au survol pour Instagram */
.social-link:hover .fa-instagram {
    color: #e4405f !important;
}

/* Couleur au survol pour LinkedIn */
.social-link:hover .fa-linkedin-in {
    color: #0a66c2 !important;
}

.social-link:hover i {
    color:yellow;
}

/* ======== Container ======== */

.container.p-4 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ======== Animation Titre ======== */

h1 {
    overflow: hidden;
    border-right: 3px solid #fff;
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink-caret 0.6s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 99%;
    }
}
.d-flex {
    display: flex !important;
    margin-right: 20px;
}

/* .btn-warning {
    margin-left: 0 !important;
    margin-right: auto;
    background-color: #ff9800;
    border-color: #ff9800;
} */

/* ======== Film du Mois ======== */
.film-du-mois {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* tout le contenu à droite */
    margin-right: -200px; /* espace depuis le bord droit */
}

/* Titre et badge */
.film-du-mois span,
.film-du-mois h2 {
    text-align: right;
}

/* ======== Affiche ======== */
.film-du-mois-poster {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-top: 10px;
}

.film-du-mois-poster:hover {
    transform: scale(1.05);
}
